.search-bar {

    display: flex; 
    justify-content: end;
    margin : 10px ;

    form {
        background: $white;
        width : 400px; 
        height : 35px; 
        display : flex; 
    }
    form input {
        flex : 1 ;
        border : none; 
        outline : none ;
    }

    form button {
        background: $color-2 ; 
        padding : 6px 20px; 
        border : none ; 
        outline :none; 
        letter-spacing: 1px;
        cursor: pointer;
        color: white; 
    }


}